version: '3.8'
services:
  redis:
    image: redis:alpine
    restart: always
  api:
    # --- IMPORTANT: CHANGE THIS ---
    image: ghcr.io/YOUR_USERNAME/shortify-devops-project/api:latest
    restart: always
    environment:
      # CODESPACE_NAME is an auto-provided env var for the public URL
      - DOMAIN=${CODESPACE_NAME}-80.githubpreview.dev
    depends_on:
      - redis
  frontend:
    # --- IMPORTANT: CHANGE THIS ---
    image: ghcr.io/Mohammed0Khater/shortify-devops-project/frontend:latest
    restart: always
    depends_on:
      - api
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - api
  prometheus:
    image: prom/prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
