version: '3.8'
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  api:
    build: ./app/api
    ports:
      - "5000:5000"
    environment:
      - DOMAIN=http://localhost:5000
    depends_on:
      - redis
  frontend:
    build: ./app/frontend
    ports:
      - "8080:80"
